<div class="cart-container">
  @if (cart.summary().itemCount > 0) {
    <span class="cart-price">
      {{ cart.summary().cartPrice | currency: 'USD' : 'symbol' : '2.2-2' }}
    </span>
  }

  <button
    mat-icon-button
    color="inherit"
    [disabled]="cart.summary().itemCount === 0"
    routerLink="cart"
  >
    <mat-icon
      [matBadge]="cart.summary().itemCount > 0 ? cart.summary().itemCount : null"
      matBadgeColor="accent"
      matBadgeSize="small"
      aria-hidden="false"
      aria-label="Shopping cart with items"
    >
      shopping_cart
    </mat-icon>
  </button>
</div>
