@use '@angular/material' as mat;

.stats-container {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;

  .category-stat {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
  }

  .product-stat {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
  }
}

.main-layout {
  display: flex;
  padding: 1rem;
  gap: 1rem;

  .sidebar {
    flex: 3;

    .category-list {
      border: 1px solid;
      border-radius: 8px;
    }
  }

  .products-area {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.product-card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid;

  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    h4 {
      margin: 0;
      font-size: 1.2rem;
    }
    .price-tag {
      padding: 0.2rem 0.8rem;
      border-radius: 20px;
      font-weight: bold;
    }
  }

  .product-description {
    padding: 10px;
    border-radius: 4px;
  }
}

.pagination-controls {
  .page-buttons {
    display: flex;
    gap: 5px;

    button {
      min-width: 40px;
      padding: 0;
      line-height: 40px;
      border-radius: 4px;
    }

    .active-page {
      background-color: var(--mat-sys-primary);
      color: white;
    }
  }
}
