@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.dark-theme {
  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Roboto,
      density: 0,
    )
  );
  color-scheme: dark;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition: all 0.3s ease;
}
